.recommended-btns {
  display: flex;
  margin-left: 20rem;
  font-family: sans-serif;
}
.recommended-title {
  margin-left: 20rem;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  font-family: sans-serif;
}


